{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {{ form_start(form, {'action' : path('task_create')}) }}
            {{ form_widget(form) }}

            <button type="submit" class="col-6 col-lg-2 btn btn-success pull-right">Ajouter</button>
            <a href="{{ path('task_list') }}" class="col-5 col-lg-3 btn btn-primary">Retour</a>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
